#logger_container {
  line-height: 1;
  max-height: 91vh;
  overflow-y: clip;
  padding-bottom: 10px;
}

.logger_element {
  border-left: 3px solid red;
  border-top: 1px solid red;
  padding: 3px;
  margin-bottom: 10px;
  box-shadow: 2px 3px 6px #888888;
  border-radius: 6px;
}

.logger_element_text {
  font-family: Arial, sans-serif;
  cursor: pointer;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.logger_element_text_ellapsed {
  -webkit-line-clamp: unset;
  white-space: normal;
  overflow: visible;
  text-overflow: unset;
}

.logger_element_title {
  with: 100%;
  padding-bottom: 2px;
}

#controlbar .tab-content {
  padding: 5px 8px;
}

/* Bounce animation */
@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30px);
  }
}

/* Class for triggering the bounce animation */
.bounce-animation {
  animation: bounce 1s ease-in-out;
}

@keyframes animate_icon {
  0% {
    transform: rotate(0deg);
    border-width: 1px;
    border-color: transparent;
  }
  50% {
    transform: rotate(180deg);
    border-width: 1px;
    border-color: yellow;
  }
  100% {
    transform: rotate(360deg);
    border-width: 1px;
    border-color: transparent;
  }
}
.icon-unanimated {
  border-radius: 10px;
  border-width: 1px;
  border-color: transparent;
  border-style: solid;
}
.icon-animation {
  animation: animate_icon 1s ease-in-out;
}
